/* Colors: */

/*
light purple: #EAD0FB;
dark purple: #320B22;
*/


/* Body */

body {
	background-color: #EAD0FB;
	font-family: 'Raleway', sans-serif;
}

img {
	width: 90%;
	display: block;
	height: auto;
	margin: auto;
}

h1 {
	font-size: 2.75em; 
	padding: 40px 5%; 
	margin: 10px 0;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	padding: 10px 0; 
}

p {
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.25em;

}

a.skip {
	color: #EAD0FB;
	position: absolute;
	top: 0;
	padding: 5px;
	left: -500px;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus{
	left: 0;
}

/* NavBar */

nav {
	background-color: #320B22;
	padding: 20px 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

nav h1 {
	font-size: 2.4em;
	padding: 0;
	text-align: center;
}

nav a {
	color: #EAD0FB;
	text-decoration: none;
	text-transform: uppercase; 
	padding: 2px 5px;
}


nav ul li:hover {
	color: #EAD0FB;
	font-weight: bold;
	border-right: none;
	border-bottom: 1px solid #EAD0FB;;
}


nav ul {
	display: flex;
	flex-direction: column; 
	align-items: center;
	text-align: center;
}

nav li {
	margin: 5px 1px;
	padding: 4px 5px;
	border-bottom: 1px solid #320B22;
	line-height: 1.2em;
}

nav a.currentPage {
	background-color: #EAD0FB;
	color: #320B22;
}

/* Footer */

.bottom-nav {
	/*flex-direction: column;
	justify-content: center;
	align-items: center;*/
	display: block;
	margin: auto;
}

.bottom-nav p {
	color: #EAD0FB;
	padding: 10px 0;
	text-align: center;
}

.bottom-nav ul {
	display: grid;
	margin: 0 40%;
	width: 20%;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}

.bottom-nav li {
	padding: 10px 10px;
	border: 1px solid #320B22;
	margin: auto;
}

.bottom-nav li:hover {
	border: 1px solid #EAD0FB;
}

#github, #email {
	grid-column: 1 / span 1;
}

#linked, #facebook {
	grid-column: 2 / span 1;
}

#facebook {
	
}


/* Danish Living Page */

#hygge, #biking, #trips {
	background-color: #FFFFFF;
}

#danish-culture img {
	display: none;
}


/* Main Content */


/* Landing Page */

.landing-section {
	padding: 40px 5%;
	margin: 30px 0;
	text-align: center; 
}

#nyhavn {
	display: block;
	margin: auto;
	width: 90%;
	height: 250px;
	object-fit: cover;
}

#decision, #looking-back {
	text-align: left;
	background-color: #FFFFFF;
}

#applying {
	text-align: right;
}

/* Gallery Page */

#gallery {
	display: grid;
	grid-template-columns: 1fr;
	width: 90%;
	margin: auto;
	grid-gap: 5px;
}

#gallery img {
	width: 100%;
	height: auto;
	filter: grayscale(50%);
}

#gallery img:active {
	position: fixed;
	left: 10%;
	right: 10%;
	width: 80%;
	top: 25px;
	height: auto;
	max-height: 700px;
	border: 2px solid white;
	filter: grayscale(0%);
	z-index: 3;
}

#highlights-page p{
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}


@media screen and (min-width: 680px) {
	
	nav {
		flex-direction: row;
	}

	nav ul {
		align-items: flex-end;
		text-align: right;
	}
	
	nav ul li {
		border-bottom: none;
		border-right: 1px solid #320B22;
	}

	nav ul li:hover {
		border-bottom: none;
		border-right: 1px solid #EAD0FB;
	}

	#gallery {
		display: grid;
		grid-template-columns: 1fr 1fr; 
	}
	
	#gallery img {
		height: 400px;
		object-fit: cover;
		margin: 0;
	}

	#paragliding {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}

	#fjords {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	#waterfall {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	#parliament {
		grid-column: 1 / 3;
		grid-row: 3 / 4;
	}

	#interlaken {
		grid-column: 1 / 2;
		grid-row: 4 / 5;
	}

	#snow {
		grid-column: 2 / 3;
		grid-row: 4 / 5;
	}

	#canal {
		grid-column: 1 / 3;
		grid-row: 5 / 6;
	}

	#budaview {
		grid-column: 1 / 2;
		grid-row: 6 / 7;
	}

	#tulips {
		grid-column: 2 / 3;
		grid-row: 6 / 7;
	}

	#soundOfMusic {
		grid-column: 1 / 3;
		grid-row: 7 / 8;
	}
	
	.bottom-nav ul {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	#github, #email, #linked, #facebook {
		grid-column: auto;
	}


	/* Danish Living */
	#danish-culture img {
		display: block;
		max-height: 450px;
		width: auto;
		padding: 10px;
	}

	#hygge, #biking {
		text-align: left;
	}

	#trust, #trips {
		text-align: right;
	}
}

@media screen and (min-width: 1024px) {
	
	nav ul {
		flex-direction: row;
		align-items: flex-end;
		text-align: right;
		justify-content: flex-end;
		padding: 0 7px;
	}

	nav ul li {
		border-bottom: 1px solid #320B22;
		border-right: none;
	}

	nav ul li:hover {
		border-right: none;
		border-bottom: 1px solid #EAD0FB;;
	}



	#gallery {
		grid-template-columns: 1fr 1fr 1fr; 
		grid-template-rows: repeat(7, 400px);
	}
	
	#gallery img {
		height: 100%;
		object-fit: cover;
	}

	#paragliding {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}

	#fjords {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}

	#waterfall {
		grid-column: 1 / 2;
		grid-row: 2 / 4;
	}

	#interlaken {
		grid-column: 2 / 4;
		grid-row: 2 / 4;
	}

	#parliament {
		grid-column: 1 / 3;
		grid-row: 4 / 5;
	}

	#budaview {
		grid-column: 3 / 4;
		grid-row: 4 / 5;
	}

	#snow {
		grid-column: 1 / 2;
		grid-row: 5 / 6;
	}

	#canal {
		grid-column: 2 / 4;
		grid-row: 5 / 6;
	}

	#soundOfMusic {
		grid-column: 1 / 3;
		grid-row: 6 / 8;
	}

	#tulips {
		grid-column: 3 / 4;
		grid-row: 6 / 8;
	}
	
	.large-div {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1;
	}
	
	#hygge div.large-div p {
		grid-column: 1 / span 2;
		grid-row: 1 / span 1;
		padding: 20px 0; 
	}

	#hygge div.large-div img {
		grid-column: 3 / span 1;
		grid-row: 1 / span 1;
	}

	#biking div.large-div p {
		grid-column: 1 / span 2;
		grid-row: 1 / span 1;
		padding: 20px 0;
	}

	#biking div.large-div img {
		grid-column: 3 / span 1;
		grid-row: 1 / span 1;
		width: 100%;
		height: auto;
	}

	#trust div.large-div p {
		grid-column: 2 / span 2;
		grid-row: 1 / span 1;
		padding: 20px 0; 
	}

	#trust div.large-div img {
		grid-column: 1 / span 1;
		grid-row: 1 / span 1;
	}

	#trips div.large-div p {
		grid-column: 2 / span 2;
		grid-row: 1 / span 1;
		padding: 20px 0; 
	}

	#trips div.large-div img {
		grid-column: 1 / span 1;
		grid-row: 1 / span 1;
	}


}	











